# DATABASE
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=shortener_db

# REDIS
REDIS_HOST: redis
REDIS_PORT: 6379
REDIS_DB: 0

# APP SETTINGS
APP_HOST=http://localhost:8000 # this host will be used for creating links dynamically (database doesn't contain full URLS such as "http://localhost:8000/url/shortlinkexample")

